section{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

//Banner
.homepage-banner{
    display: inline;
    position: relative;
}

.banner-text{
    display: block;
    position: absolute;
    z-index: 5;
    top: 400px;
    left: 150px;
    h1{
        margin: 0;
        font-size: 80px;
        font-weight: bold;
        color: #fff;
        text-shadow: 5px 5px 5px #000;
    }
    span{
        position: relative;
        top: -30px;
        left: 5px;
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        text-shadow: 5px 5px 5px #000;
    }
}

.banner-view{
    width: 100%;
    height: 650px;
    overflow: hidden;
}

.banner-wrap{
    display: flex;
    flex-direction: row;
    position: relative;
    width:fit-content;
    transition: 400ms;
}

.banner-img{
    display: block;
    position: relative;
    right: 0;
    width: 100vw;
    height: 650px;
    object-fit: cover;
    object-position: center;
}

#left-btn{
    display: none;
    position: absolute;
    top: 0px;
    z-index: 5;
    height: 650px;
    width: 100px;
    border: none;
    background-color: rgba($color: #fff, $alpha: 0);;

    span{
        font-size: 100px;
        color: #fff;
    }

    @include desktop{
        display: block;
    }
}

#right-btn{
    display: none;
    position: absolute;
    z-index: 5;
    top: 0px;
    right: 0;
    height: 650px;
    width: 100px;
    border: none;
    background-color: rgba($color: #fff, $alpha: 0);

    span{
        font-size: 100px;
        color: #fff;
    }

    @include desktop{
        display: block;
    }
}

//章節共用
.page-wrap{
    display: block;
    position: relative;
    width: 100%;
    // height: 750px;
    border: 1px solid #d00;
    margin: 60px auto;
}
.section-title{
    h1{
        margin: 20px;
        font-weight: bold;
        color: #fff;
    }
}

//最新消息


//關於根性

.about-wrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid #00d;
}

.about-tag{
    position: relative;
    top:-10px;
    text-align: end;
    width: 11%;

    div input{
        display: none;
    }

    div input:checked + label{
        color: #262626;
        background-color: #fff;
    }
    
    div label{
        color: #fff;
        font-size: 26px;
        cursor: pointer;
        padding: 10px;
        margin: 10px 0px 10px 10px;

    }

}  

.about-view{
    height: 650px;
    width: 100%;
    background-color: #fff;
    
}

#equipment{
    height: 300px;
    width: 300px;
    background-color: rgb(181, 225, 239);
}
#space{
    height: 300px;
    width: 300px;
    background-color: rgb(239, 181, 227);
}
#rule{
    height: 300px;
    width: 300px;
    background-color: rgb(186, 239, 181);
}