.fake-post{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 700px;
    padding: 10px;
    background-color: #fff;
    overflow: hidden;
}

.post-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pro-img{
    margin: 10px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #262626;
}

#follow{
    margin-right: 10px ;
}
.connect-account{
    display: flex;
    justify-content: center;
    label{
        margin-right: 10px;
        font-size: 30px;
    }
}


.post-img{
    margin: 10px 0;
    width: 400px;
    height: 100%;
}